*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: white;
}

.cabecalho{
    display: flex;
    color: white;
    background-color: black;
    height: 90px;
    text-align: center;
    align-items: center;
}

nav{
    display: flex;
}

.nav-titulo{
    font-family: Jaini;
    font-size: 35px;
    margin-left: 12px;
}

.especificacoes{
    display: flex;
    margin-left: 370px;
    gap: 55px;
    align-items: center;
    text-align: center;
    margin-top: 8px;
}

span{
    color: crimson;
    font-size: 42px;
}

body{
    background-image: url(img/wood-background-02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.pesquisa{
    margin-left: 150px;
    display: flex;
}

#pesquisa{
    height: 35px;
    width: 180px;
}

#botao{
    margin-left: 30px;
    height: 35px;
    width:100px;
    border-radius: 5px;
}

#botao:hover{
    border: solid 2px crimson;
    scale: 1.1;
    transition: 1s;
}

#peças{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#peças:hover{
    cursor: pointer;
    text-decoration: underline;
    color: white;
}

#sobremesas{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#sobremesas:hover{
    cursor: pointer;
    text-decoration: underline;
    color: white;
}

.linha1, .linha2, .linha3{
    display: flex;
    text-align: center;
    color: black;
    margin-top: 30px;
    margin-bottom: 50px;
}

.produtos1, .produtos2, .produtos3{
    display: flex;
    color: white;
    width: 1270px;
    height: 580px;
    border: solid 1px black;
    border-radius: 5px;
    background-color: black;
    border: solid 2px crimson;
}

#foto-produto{
    height: 460px;
    width: 600px;
    margin-top: 55px;
    margin-left: 20px;
}

img:hover{
    scale: 1.05;
    transition: 1s;
}

h2{
    margin-bottom: 5px;
}

#detalhes{
    margin-top: 10px;
    height: 28px;
    width: 70px;
    background-color: crimson;
    color: black;
    border: solid 1px black;
    border-radius: 3px;
}

#detalhes:hover{
    cursor: pointer;
}

.textos{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

#h2-maior{
    font-size: 4rem;
}

p{
    font-size: 1.4rem;
}

#botao-compra{
    margin-left: 178px;
    height: 35px;
    width:90px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 18px;
    border: solid 2px crimson;
    border-radius: 10px;
    background-color: crimson;
    color: white;
}

form{
    margin-top: 30px;
    border: solid 1px white;
    width: 400px;
    height: 220px;
    margin-left: 150px;
}

.compra{
    width: 450px;
    margin-left: 130px;
    display: flex;
    flex-direction: column;
}

#email{
    margin-top: 40px;
    height: 30px;
    width: 320px;
}

#menor{
    margin-top: 10px;
    font-size: 1.5rem;
}

.termos{
    display: flex;
    margin-left: 39px;
    margin-top: 5px;
}

#cadastrar{
    margin-top: 30px;
    width: 100px;
    height: 35px;
    border-radius: 7px;
    background-color: white;
}

#cadastrar:hover{
    cursor: pointer;
    scale: 1.07;
    transition: 1s;
    border: solid 1px black;
}
